
* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    margin: 0%;
}

body{
    background-color: #191919;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-align: justify;
}

.cabecalho{
    background-color: #e4e1de;
    color: #191919;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 10rem;
    border-radius: .5rem;
}

h1{
    font-family: 'Playfair Display', serif;
}

#logomarca{
    height: 100px;
}

p, ol, ul{
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 1rem;
}

h2{
    margin-left: 1rem;
    padding-top: 2rem;
}

.nota{
    opacity: .8;
    background-color: #4b4b55;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

a:link{
    color: #fff;
    text-decoration: none;
}

a:visited, a:active{
    color: #a8a8b6;
}

a:hover{
    text-decoration: underline;
}



